/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}
.bg {
     background-image: url(images/login4.png);
   
}
.bgcolor
{
    color:inherit;
}
.employeecolor{
    color:black
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: initial;
    background:steelblue;
    margin-top:20px;
    width:50%
        
}
.bt-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-top: 10px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 5rem !important;
    top: 25px;
}
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px
    }
.inputstyle {
    width: 50%;
}

.form-signin .form-control:focus {
    z-index: 2;
}

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.mt-4 {
    
    text-align: center;
}
.tablem4 {
    margin-top: 5.0rem !important;
}

.error {
    color: red;
}

.hyperlink{
    color:orangered;
    margin-right: 20px;
}
.signin {
    font-family: 'Apple Chancery, cursive';
}